header{
    background-color: rgb(59, 67, 63);
    padding: 20px;
}
ul {
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}