header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
h2 {
  font-size: 30px;
  color: white;
  background-color: rgb(255, 121, 4);
  border-radius: 20px;
  padding: 10px 20px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  margin-right: 200px;
  list-style: none;
}
li {
  font-size: 25px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
hr {
  font-weight: bolder;
  color: black;
}

