article{
    background-color: rgb(233, 11, 148);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
h2{
    text-align: center;
}
time{
    margin-top: 20px 0px;
    padding-top: 20px 0px;  
}
.complete-button{
    background-color: #ff9900;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}